# Ignore the virtual environment
venv/
.env

# Ignore the database (we will use a fresh one online)
db.sqlite3

# Ignore media uploads (images should be uploaded fresh on the server)
media/

# Ignore python compiled files
__pycache__/
*.pyc